# dependencies
.DS_Store
node_modules
/dist
/lang
sw.*
.env
# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
